@font-face{
	font-family: 'GOST';
	src: url('fonts/GOST_A_.ttf');
}

a:link, a:visited {
    color: #2a2a35;
	text-decoration: none;
}

a:hover, a:active {
    color: #bf6a6a;
	text-decoration: none;
}

ul > li {
	padding-bottom: 25px;
}

ul > li > span {
	color: #bbbbbb;
}

header {
	background-color: #2a2a35;
	box-shadow: 0 3px 10px #555555;
	color: #e6e6e6;
	font-family: GOST;
	font-size: 48pt;
	height: 100px;
	width: 100%;
}

header #header-title {
	float: left;
	padding: 10px 30px;
}

header #user {
	float: right;
	padding: 10px 30px;
	
}

header #user > span {
	font-size: 16pt; 
	padding: 20px;
}

header #user-logo {
	background-position: -525px -27px;
	height: 60px;
	float: left;
	width: 60px;
}

body {
	background-color: #e6e6e6;
	font-family: GOST;
	margin: 0;
}

input {
	background-color: #e6e6e6;
	border: transparent;
	font-color: #2a2a35;
	font-family: GOST;
	font-size: 24pt;
	width: 353px;
}

.button-label {
	float: left;
	font-size: 24pt;
	padding: 17px 14px;
}

.button-wrapper {
	float: left;
	margin: 10px 50px;
	padding: 0 65px;
	width: 512px;
}

.button {
	background-repeat: no-repeat;
	float: left;
	height: 65px;
	margin: 5px 10px;
	width: 65px;
}

.left-end {
	background-position: -316px -27px;
	float: left;
	height: 65px;
	width: 40px;
}

.sprite {
	background-image: url(../img/sprite.png);
}

.score {
	background-color: #bf6a6a;
	border-radius: 50%;
	float: right;
	height: 260px;
	margin: 50px;
	width: 260px;
}

.score-small-label { 
	font-size: 24pt;
	padding: 45px 50px 0px 50px;
}

.score-huge-label { 
	font-size: 128pt;
	padding-left: 58px;
}

#world-map {
	margin: 5% 18%;
}

#results {
	font-size: 36pt;
	float: left;
	margin: 50px 20px;
	padding-left: 20px;
	width: 50%;
}

#results > ul {
	overflow-y: scroll;
	font-size: 20pt;
}

#report {
	margin: 50px 33%;
	float: left;
	width: 500px;
}

button {
	background-color: #2a2a35;
	border: none;
	color: #e6e6e6;
	font-family: GOST;
	font-size: 24pt;
}

#report > form > input {
	padding: 7px;
	-webkit-box-shadow: inset -1px 1px 8px 1px #999999;
	-moz-box-shadow: inset -1px 1px 8px 1px #999999;
	box-shadow: inset -1px 1px 8px 1px #999999;
	margin: 20px 0px;
	width: 500px;
}

#spread-section {
	font-size: 24px;
	float: right;
}

#spread-section > span {
	padding: 20px 10px 20px 0px;
}